<section class="tarjetas">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">TARJETA</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, harum nesciunt. Laudantium corporis suscipit assumenda nesciunt blanditiis perferendis accusamus pariatur asperiores amet, repudiandae aut tenetur sunt praesentium soluta enim quod.</p>
      <a href="#" class="btn btn-primary">IR</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">TARJETA</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, harum nesciunt. Laudantium corporis suscipit assumenda nesciunt blanditiis perferendis accusamus pariatur asperiores amet, repudiandae aut tenetur sunt praesentium soluta enim quod.</p>
      <a href="#" class="btn btn-primary">IR</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">TARJETA</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, harum nesciunt. Laudantium corporis suscipit assumenda nesciunt blanditiis perferendis accusamus pariatur asperiores amet, repudiandae aut tenetur sunt praesentium soluta enim quod.</p>
      <a href="#" class="btn btn-primary">IR</a>
    </div>
  </div>

</section>